/* * {
    box-sizing: border-box;
    outline: 1px solid limegreen !important;
} */

.link {
    transition: transform .2s;
}

.link:hover {
    transform: scale(1.15);
}


.stack {
    transition: transform .2s;
}

.stack:hover {
    transform: scale(0.95);
}